<.container class="my-10" max_width="full">
  <.container max_width="md" no_padding_on_mobile={true}>
    <.alert
      color="info"
      class="mb-5"
      label={live_flash(@flash, :info)}
      phx-click="lv:clear-flash"
      phx-value-key="info"
    />

    <.alert
      color="danger"
      class="mb-5"
      label={live_flash(@flash, :error)}
      phx-click="lv:clear-flash"
      phx-value-key="error"
    />
  </.container>
  <%= @inner_content %>
</.container>
