<div class="px-5 md:px-10">
  <.alert
    with_icon
    close_button_properties={["phx-click": "lv:clear-flash"]}
    color="info"
    class="mb-5"
    label={live_flash(@flash, :info)}
    phx-value-key="info"
  />

  <.alert
    with_icon
    close_button_properties={["phx-click": "lv:clear-flash"]}
    color="danger"
    class="mb-5"
    label={live_flash(@flash, :error)}
    phx-value-key="error"
  />

  <%= @inner_content %>
</div>
